/*
Project Name: Monthly Resolutions
Client: One Month
Author: Christopher Castig | @castig
*/

/*-----------------------------------------------------------------------------
01=BASE
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clear {
  clear: both;
}

body {
  background: url('../images/notebook.png');
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  font-size: 100%;
  /* padding: 50px; */
}

h1 {
  font-size: 48px;
  letter-spacing: -5px;
}

h2 {
  font-size: 32px;
  margin-bottom: 6px;
}

h3 {
  margin-top: 50px;
}

blockquote {
  border-left: 5px #BBB solid;
  padding-left: 10px;
  margin-left: 0;
  font-style: italic;
  font-size: 16px;
  /* background: pink; */
}

a {
  color: #ff3300;
  text-decoration: none;
  font-weight: bold;
}

/*-----------------------------------------------------------------------------
02=LAYOUT
-----------------------------------------------------------------------------*/

.container {
  width: 950px;
  margin: 0 auto 0 auto;
  /* background: pink; */
}

.main {
  background: white;
  width: 600px;
  padding: 25px;
  float: left;
  font-size: 12px;
}

.sidebar {
  background: white;
  margin-left: 10px;
  margin-right: 10px;
  width: 330px;
  padding: 25px;
  float: left;
}
  .sidebar img {
    border-radius: 50%;
  }

/*-----------------------------------------------------------------------------
03=MAIN
-----------------------------------------------------------------------------*/

.post {
  margin-bottom: 50px;
}

.tagline {
  margin-top: -45px;
  margin-bottom: 30px;
}

.post-meta {
  color: gray;
  padding: 10px 0px;
  font-size: 12px;
  border-top: 1px #BBB solid;
}

.widget {
  margin-bottom: 45px;
  /* background: orange; */
}

/*-----------------------------------------------------------------------------
04=NAV
-----------------------------------------------------------------------------*/

.nav-container {
  background: #ff3300;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  float: left;
  list-style: none;
  font-size: 20px;
}

nav ul li a {
  color: white;
  margin: 16px;
  padding: 16px;
  display: block;
}

nav ul li a:hover {
  color: black;
  transition: color 0.3s ease-in;
}
