body {
  line-height: 1.5;
  color: white;

  /* Full Page Background Receipe */
  background: url('../images/daft-sam.gif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-size: 80px;
  margin-bottom: -50px;
}

h2 {
  font-size: 30px;
}

.container {
  width: 500px;
  margin: 40px;
  background: rgba(0,0,0,0.5);
  padding: 15px;
}

a {
  color: #BFE35B;
  text-decoration: none;
}

